In [3]:
import pandas as pd
import numpy as np
import folium as fm

In [4]:
ls ../DataSets

Temp_score.csv*           USA_rain.csv*             wind_scores.csv*
Temps_global.csv*         USA_wind.csv*
USA_city_temps.csv*       madrid_monthly_means.csv*

In [6]:
wind = pd.read_csv("../DataSets/USA_wind.csv")
wind.head()

,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Country,Latitude,Longitude
0,Vancouver,1.930376,2.391548,2.694355,2.589722,1.994086,2.113611,2.557258,2.558483,2.507363,2.423554,2.754444,2.683602,Canada,49.249660,-123.119339
1,Portland,2.172312,2.510047,2.327688,2.070556,1.748118,1.436944,2.104301,1.695699,1.668611,1.781173,2.653014,2.409946,United States,45.523449,-122.676208
2,San Francisco,2.350000,3.190603,3.139516,3.814722,3.398925,2.238611,2.827911,2.554570,2.623333,2.295684,2.327222,2.795161,United States,37.774929,-122.419418
3,Seattle,1.712903,2.348109,2.454570,2.310278,1.915860,1.745833,2.068548,1.829032,2.049444,2.141092,2.410519,2.394086,United States,47.606209,-122.332069
4,Los Angeles,1.104570,0.959515,1.257258,1.464444,1.515591,1.189444,1.659677,1.319086,1.256111,0.873736,1.015360,1.104032,United States,34.052231,-118.243683

In [8]:
us_temp = pd.read_csv("../DataSets/USA_city_temps.csv")
us_temp.head()

,Unnamed: 0,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Country,Latitude,Longitude
0,0,Vancouver,3.435788,4.786693,7.005816,9.658979,13.721250,16.228408,18.976039,19.105956,15.277139,10.627567,6.234032,3.118192,Canada,49.249660,-123.119339
1,1,Portland,3.583184,6.009428,8.547859,10.667127,14.565237,17.353580,20.324855,20.783623,16.835510,11.678423,8.081417,4.074661,United States,45.523449,-122.676208
2,2,San Francisco,10.306387,11.837995,13.281086,14.309154,15.841685,17.856091,19.471702,18.860339,18.967253,16.173920,12.783779,10.020202,United States,37.774929,-122.419418
3,3,Seattle,4.439315,5.965783,7.924323,10.183814,13.941708,16.436508,18.899279,19.186526,15.686096,11.237759,7.365637,4.258085,United States,47.606209,-122.332069
4,4,Los Angeles,12.410479,13.581205,15.487277,16.477184,17.844683,20.871611,23.275532,23.224908,22.743929,18.878352,15.459219,12.066750,United States,34.052231,-118.243683

In [9]:
# For January
Jan_score=[]

for x in us_temp['Jan']:
    if x > 23.888:
        Jan_score.append(float('1'))
    elif x > 15.555:
        Jan_score.append(float('0.75'))
    elif x > 12.7: 
        Jan_score.append(float('0.5'))
    elif x > 10:
        Jan_score.append(float('0.25'))
    else:
        Jan_score.append(float('0'))
    
# For Feb
Feb_score=[]

for x in us_temp['Feb']:
    if x > 23.888:
        Feb_score.append(float('1'))
    elif x > 15.555:
        Feb_score.append(float('0.75'))
    elif x > 12.7: 
        Feb_score.append(float('0.5'))
    elif x > 10:
        Feb_score.append(float('0.25'))
    else:
        Feb_score.append(float('0'))
        
# For March
Mar_score=[]

for x in us_temp['Mar']:
    if x > 23.888:
        Mar_score.append(float('1'))
    elif x > 15.555:
        Mar_score.append(float('0.75'))
    elif x > 12.7: 
        Mar_score.append(float('0.5'))
    elif x > 10:
        Mar_score.append(float('0.25'))
    else:
        Mar_score.append(float('0'))
        
# For April
Apr_score=[]

for x in us_temp['Apr']:
    if x > 23.888:
        Apr_score.append(float('1'))
    elif x > 15.555:
        Apr_score.append(float('0.75'))
    elif x > 12.7: 
        Apr_score.append(float('0.5'))
    elif x > 10:
        Apr_score.append(float('0.25'))
    else:
        Apr_score.append(float('0'))

# For May
May_score=[]

for x in us_temp['May']:
    if x > 23.888:
        May_score.append(float('1'))
    elif x > 15.555:
        May_score.append(float('0.75'))
    elif x > 12.7: 
        May_score.append(float('0.5'))
    elif x > 10:
        May_score.append(float('0.25'))
    else:
        May_score.append(float('0'))

# For June
Jun_score=[]

for x in us_temp['Jun']:
    if x > 23.888:
        Jun_score.append(float('1'))
    elif x > 15.555:
        Jun_score.append(float('0.75'))
    elif x > 12.7: 
        Jun_score.append(float('0.5'))
    elif x > 10:
        Jun_score.append(float('0.25'))
    else:
        Jun_score.append(float('0'))

# For July
Jul_score=[]

for x in us_temp['Jul']:
    if x > 23.888:
        Jul_score.append(float('1'))
    elif x > 15.555:
        Jul_score.append(float('0.75'))
    elif x > 12.7: 
        Jul_score.append(float('0.5'))
    elif x > 10:
        Jul_score.append(float('0.25'))
    else:
        Jul_score.append(float('0'))

# For August
Aug_score=[]

for x in us_temp['Aug']:
    if x > 23.888:
        Aug_score.append(float('1'))
    elif x > 15.555:
        Aug_score.append(float('0.75'))
    elif x > 12.7: 
        Aug_score.append(float('0.5'))
    elif x > 10:
        Aug_score.append(float('0.25'))
    else:
        Aug_score.append(float('0'))

# For September
Sep_score = []

for x in us_temp['Sep']:
    if x > 23.888:
        Sep_score.append(float('1'))
    elif x > 15.555:
        Sep_score.append(float('0.75'))
    elif x > 12.7: 
        Sep_score.append(float('0.5'))
    elif x > 10:
        Sep_score.append(float('0.25'))
    else:
        Sep_score.append(float('0'))

# For October
Oct_score = []

for x in us_temp['Oct']:
    if x > 23.888:
        Oct_score.append(float('1'))
    elif x > 15.555:
        Oct_score.append(float('0.75'))
    elif x > 12.7: 
        Oct_score.append(float('0.5'))
    elif x > 10:
        Oct_score.append(float('0.25'))
    else:
        Oct_score.append(float('0'))

# For November
Nov_score = []

for x in us_temp['Nov']:
    if x > 23.888:
        Nov_score.append(float('1'))
    elif x > 15.555:
        Nov_score.append(float('0.75'))
    elif x > 12.7: 
        Nov_score.append(float('0.5'))
    elif x > 10:
        Nov_score.append(float('0.25'))
    else:
        Nov_score.append(float('0'))

# For December
Dec_score = []

for x in us_temp['Dec']:
    if x > 23.888:
        Dec_score.append(float('1'))
    elif x > 15.555:
        Dec_score.append(float('0.75'))
    elif x > 12.7: 
        Dec_score.append(float('0.5'))
    elif x > 10:
        Dec_score.append(float('0.25'))
    else:
        Dec_score.append(float('0'))

In [73]:
df = pd.DataFrame(columns=['Jan','Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])
df

Empty DataFrame
Columns: [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]
Index: []

In [74]:
df['Jan']=Jan_score
df['Feb']=Feb_score
df['Mar']=Mar_score
df['Apr']=Apr_score
df['May']=May_score
df['Jun']=Jun_score
df['Jul']=Jul_score
df['Aug']=Aug_score
df['Sep']=Sep_score
df['Oct']=Oct_score
df['Nov']=Nov_score
df['Dec']=Dec_score

In [75]:
df

     Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
0   0.00  0.00  0.00  0.00  0.50  0.75  0.75  0.75  0.50  0.25  0.00  0.00
1   0.00  0.00  0.00  0.25  0.50  0.75  0.75  0.75  0.75  0.25  0.00  0.00
2   0.25  0.25  0.50  0.50  0.75  0.75  0.75  0.75  0.75  0.75  0.50  0.25
3   0.00  0.00  0.00  0.25  0.50  0.75  0.75  0.75  0.75  0.25  0.00  0.00
4   0.25  0.50  0.50  0.75  0.75  0.75  0.75  0.75  0.75  0.75  0.50  0.25
5   0.25  0.50  0.50  0.75  0.75  0.75  0.75  0.75  0.75  0.75  0.50  0.25
6   0.00  0.25  0.75  0.75  0.75  1.00  1.00  1.00  1.00  0.75  0.25  0.00
7   0.25  0.50  0.75  0.75  1.00  1.00  1.00  1.00  1.00  0.75  0.75  0.25
8   0.00  0.00  0.00  0.25  0.75  0.75  0.75  0.75  0.75  0.25  0.00  0.00
9   0.00  0.00  0.00  0.00  0.25  0.75  0.75  0.75  0.75  0.00  0.00  0.00
10  0.25  0.50  0.75  0.75  0.75  1.00  1.00  1.00  1.00  0.75  0.75  0.25
11  0.00  0.25  0.50  0.75  0.75  1.00  1.00  1.00  1.00  0.75  0.50  0.00
12  0.25  0.50  0.75  0.75  0.75  1.00  1.00  1.00  1.00  0.75  0.75  0.50
13  0.00  0.00  0.00  0.50  0.75  1.00  1.00  1.00  0.75  0.50  0.00  0.00
14  0.00  0.00  0.00  0.00  0.50  0.75  0.75  0.75  0.75  0.00  0.00  0.00
15  0.00  0.00  0.00  0.50  0.75  1.00  1.00  1.00  0.75  0.50  0.00  0.00
16  0.00  0.00  0.00  0.00  0.50  0.75  0.75  0.75  0.75  0.50  0.00  0.00
17  0.00  0.00  0.00  0.75  0.75  1.00  1.00  1.00  0.75  0.75  0.00  0.00
18  0.00  0.00  0.00  0.25  0.75  0.75  0.75  0.75  0.75  0.50  0.00  0.00
19  0.00  0.00  0.25  0.75  0.75  1.00  1.00  1.00  0.75  0.75  0.25  0.00
20  0.00  0.00  0.00  0.00  0.50  0.75  0.75  0.75  0.75  0.25  0.00  0.00
21  0.50  0.50  0.75  0.75  0.75  1.00  1.00  1.00  1.00  0.75  0.75  0.75
22  0.00  0.00  0.25  0.75  0.75  1.00  1.00  1.00  0.75  0.75  0.00  0.00
23  0.75  0.75  0.75  1.00  1.00  1.00  1.00  1.00  1.00  1.00  0.75  0.75
24  0.00  0.00  0.00  0.25  0.75  0.75  0.75  0.75  0.75  0.25  0.00  0.00
25  0.00  0.00  0.00  0.00  0.50  0.75  0.75  0.75  0.75  0.25  0.00  0.00
26  0.00  0.00  0.00  0.25  0.75  0.75  1.00  0.75  0.75  0.50  0.00  0.00
27  0.00  0.00  0.00  0.25  0.75  0.75  1.00  0.75  0.75  0.50  0.00  0.00
28  0.00  0.00  0.00  0.00  0.50  0.75  0.75  0.75  0.75  0.25  0.00  0.00
29  0.00  0.00  0.00  0.00  0.50  0.75  0.75  0.75  0.75  0.50  0.00  0.00
30  0.00  0.25  0.50  0.75  0.75  0.75  1.00  1.00  0.75  0.75  0.50  0.25
31  0.50  0.50  0.75  0.75  0.75  1.00  1.00  1.00  1.00  0.75  0.75  0.50
32  0.50  0.50  0.75  0.75  1.00  1.00  1.00  1.00  1.00  1.00  0.75  0.50
33  0.50  0.75  0.75  0.75  0.75  1.00  1.00  1.00  1.00  1.00  0.75  0.75
34  0.50  0.50  0.75  0.75  0.75  1.00  1.00  1.00  1.00  0.75  0.75  0.50
35  0.25  0.50  0.75  0.75  0.75  1.00  1.00  1.00  1.00  0.75  0.75  0.50

In [76]:
us_temp.head()

,Unnamed: 0,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Country,Latitude,Longitude
0,0,Vancouver,3.435788,4.786693,7.005816,9.658979,13.721250,16.228408,18.976039,19.105956,15.277139,10.627567,6.234032,3.118192,Canada,49.249660,-123.119339
1,1,Portland,3.583184,6.009428,8.547859,10.667127,14.565237,17.353580,20.324855,20.783623,16.835510,11.678423,8.081417,4.074661,United States,45.523449,-122.676208
2,2,San Francisco,10.306387,11.837995,13.281086,14.309154,15.841685,17.856091,19.471702,18.860339,18.967253,16.173920,12.783779,10.020202,United States,37.774929,-122.419418
3,3,Seattle,4.439315,5.965783,7.924323,10.183814,13.941708,16.436508,18.899279,19.186526,15.686096,11.237759,7.365637,4.258085,United States,47.606209,-122.332069
4,4,Los Angeles,12.410479,13.581205,15.487277,16.477184,17.844683,20.871611,23.275532,23.224908,22.743929,18.878352,15.459219,12.066750,United States,34.052231,-118.243683

In [77]:
dict = {"cities":us_temp.City,
        "lat":us_temp.Latitude,
       "lon":us_temp.Longitude}
use = pd.DataFrame(dict)
use.head()

          cities        lat         lon
0      Vancouver  49.249660 -123.119339
1       Portland  45.523449 -122.676208
2  San Francisco  37.774929 -122.419418
3        Seattle  47.606209 -122.332069
4    Los Angeles  34.052231 -118.243683

In [80]:
result = pd.concat([use, df], axis=1, join_axes=[use.index])
result

,cities,lat,lon,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Vancouver,49.249660,-123.119339,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.50,0.25,0.00,0.00
1,Portland,45.523449,-122.676208,0.00,0.00,0.00,0.25,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
2,San Francisco,37.774929,-122.419418,0.25,0.25,0.50,0.50,0.75,0.75,0.75,0.75,0.75,0.75,0.50,0.25
3,Seattle,47.606209,-122.332069,0.00,0.00,0.00,0.25,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
4,Los Angeles,34.052231,-118.243683,0.25,0.50,0.50,0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.50,0.25
5,San Diego,32.715328,-117.157257,0.25,0.50,0.50,0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.50,0.25
6,Las Vegas,36.174969,-115.137222,0.00,0.25,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.25,0.00
7,Phoenix,33.448380,-112.074043,0.25,0.50,0.75,0.75,1.00,1.00,1.00,1.00,1.00,0.75,0.75,0.25
8,Albuquerque,35.084492,-106.651138,0.00,0.00,0.00,0.25,0.75,0.75,0.75,0.75,0.75,0.25,0.00,0.00
9,Denver,39.739151,-104.984703,0.00,0.00,0.00,0.00,0.25,0.75,0.75,0.75,0.75,0.00,0.00,0.00
10,San Antonio,29.424120,-98.493629,0.25,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.25
11,Dallas,32.783058,-96.806671,0.00,0.25,0.50,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.50,0.00
12,Houston,29.763281,-95.363274,0.25,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.50
13,Kansas City,39.099731,-94.578568,0.00,0.00,0.00,0.50,0.75,1.00,1.00,1.00,0.75,0.50,0.00,0.00
14,Minneapolis,44.979969,-93.263840,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.00,0.00,0.00
15,Saint Louis,38.627270,-90.197891,0.00,0.00,0.00,0.50,0.75,1.00,1.00,1.00,0.75,0.50,0.00,0.00
16,Chicago,41.850029,-87.650047,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.50,0.00,0.00
17,Nashville,36.165890,-86.784439,0.00,0.00,0.00,0.75,0.75,1.00,1.00,1.00,0.75,0.75,0.00,0.00
18,Indianapolis,39.768379,-86.158043,0.00,0.00,0.00,0.25,0.75,0.75,0.75,0.75,0.75,0.50,0.00,0.00
19,Atlanta,33.749001,-84.387978,0.00,0.00,0.25,0.75,0.75,1.00,1.00,1.00,0.75,0.75,0.25,0.00
20,Detroit,42.331429,-83.045753,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
21,Jacksonville,30.332180,-81.655647,0.50,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.75
22,Charlotte,35.227089,-80.843132,0.00,0.00,0.25,0.75,0.75,1.00,1.00,1.00,0.75,0.75,0.00,0.00
23,Miami,25.774269,-80.193657,0.75,0.75,0.75,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.75,0.75
24,Pittsburgh,40.440620,-79.995888,0.00,0.00,0.00,0.25,0.75,0.75,0.75,0.75,0.75,0.25,0.00,0.00
25,Toronto,43.700111,-79.416298,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
26,Philadelphia,39.952339,-75.163788,0.00,0.00,0.00,0.25,0.75,0.75,1.00,0.75,0.75,0.50,0.00,0.00
27,New York,40.714272,-74.005966,0.00,0.00,0.00,0.25,0.75,0.75,1.00,0.75,0.75,0.50,0.00,0.00
28,Montreal,45.508839,-73.587807,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
29,Boston,42.358429,-71.059769,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.50,0.00,0.00
30,Beersheba,31.251810,34.791302,0.00,0.25,0.50,0.75,0.75,0.75,1.00,1.00,0.75,0.75,0.50,0.25
31,Tel Aviv District,32.083328,34.799999,0.50,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.50
32,Eilat,29.558050,34.948212,0.50,0.50,0.75,0.75,1.00,1.00,1.00,1.00,1.00,1.00,0.75,0.50
33,Haifa,32.815559,34.989170,0.50,0.75,0.75,0.75,0.75,1.00,1.00,1.00,1.00,1.00,0.75,0.75
34,Nahariyya,33.005859,35.094090,0.50,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.50
35,Jerusalem,31.769039,35.216331,0.25,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.50

In [81]:
result.rename(columns={"cities": "City", "lat": "Latitude", "lon":"Longitude"})

,City,Latitude,Longitude,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Vancouver,49.249660,-123.119339,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.50,0.25,0.00,0.00
1,Portland,45.523449,-122.676208,0.00,0.00,0.00,0.25,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
2,San Francisco,37.774929,-122.419418,0.25,0.25,0.50,0.50,0.75,0.75,0.75,0.75,0.75,0.75,0.50,0.25
3,Seattle,47.606209,-122.332069,0.00,0.00,0.00,0.25,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
4,Los Angeles,34.052231,-118.243683,0.25,0.50,0.50,0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.50,0.25
5,San Diego,32.715328,-117.157257,0.25,0.50,0.50,0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.50,0.25
6,Las Vegas,36.174969,-115.137222,0.00,0.25,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.25,0.00
7,Phoenix,33.448380,-112.074043,0.25,0.50,0.75,0.75,1.00,1.00,1.00,1.00,1.00,0.75,0.75,0.25
8,Albuquerque,35.084492,-106.651138,0.00,0.00,0.00,0.25,0.75,0.75,0.75,0.75,0.75,0.25,0.00,0.00
9,Denver,39.739151,-104.984703,0.00,0.00,0.00,0.00,0.25,0.75,0.75,0.75,0.75,0.00,0.00,0.00
10,San Antonio,29.424120,-98.493629,0.25,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.25
11,Dallas,32.783058,-96.806671,0.00,0.25,0.50,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.50,0.00
12,Houston,29.763281,-95.363274,0.25,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.50
13,Kansas City,39.099731,-94.578568,0.00,0.00,0.00,0.50,0.75,1.00,1.00,1.00,0.75,0.50,0.00,0.00
14,Minneapolis,44.979969,-93.263840,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.00,0.00,0.00
15,Saint Louis,38.627270,-90.197891,0.00,0.00,0.00,0.50,0.75,1.00,1.00,1.00,0.75,0.50,0.00,0.00
16,Chicago,41.850029,-87.650047,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.50,0.00,0.00
17,Nashville,36.165890,-86.784439,0.00,0.00,0.00,0.75,0.75,1.00,1.00,1.00,0.75,0.75,0.00,0.00
18,Indianapolis,39.768379,-86.158043,0.00,0.00,0.00,0.25,0.75,0.75,0.75,0.75,0.75,0.50,0.00,0.00
19,Atlanta,33.749001,-84.387978,0.00,0.00,0.25,0.75,0.75,1.00,1.00,1.00,0.75,0.75,0.25,0.00
20,Detroit,42.331429,-83.045753,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
21,Jacksonville,30.332180,-81.655647,0.50,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.75
22,Charlotte,35.227089,-80.843132,0.00,0.00,0.25,0.75,0.75,1.00,1.00,1.00,0.75,0.75,0.00,0.00
23,Miami,25.774269,-80.193657,0.75,0.75,0.75,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.75,0.75
24,Pittsburgh,40.440620,-79.995888,0.00,0.00,0.00,0.25,0.75,0.75,0.75,0.75,0.75,0.25,0.00,0.00
25,Toronto,43.700111,-79.416298,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
26,Philadelphia,39.952339,-75.163788,0.00,0.00,0.00,0.25,0.75,0.75,1.00,0.75,0.75,0.50,0.00,0.00
27,New York,40.714272,-74.005966,0.00,0.00,0.00,0.25,0.75,0.75,1.00,0.75,0.75,0.50,0.00,0.00
28,Montreal,45.508839,-73.587807,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.25,0.00,0.00
29,Boston,42.358429,-71.059769,0.00,0.00,0.00,0.00,0.50,0.75,0.75,0.75,0.75,0.50,0.00,0.00
30,Beersheba,31.251810,34.791302,0.00,0.25,0.50,0.75,0.75,0.75,1.00,1.00,0.75,0.75,0.50,0.25
31,Tel Aviv District,32.083328,34.799999,0.50,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.50
32,Eilat,29.558050,34.948212,0.50,0.50,0.75,0.75,1.00,1.00,1.00,1.00,1.00,1.00,0.75,0.50
33,Haifa,32.815559,34.989170,0.50,0.75,0.75,0.75,0.75,1.00,1.00,1.00,1.00,1.00,0.75,0.75
34,Nahariyya,33.005859,35.094090,0.50,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.50
35,Jerusalem,31.769039,35.216331,0.25,0.50,0.75,0.75,0.75,1.00,1.00,1.00,1.00,0.75,0.75,0.50

In [83]:
result.to_csv("vmg-prelim/DataSets/cityTemps_scaled.csv", index=False)